* {
    box-sizing: border-box;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --button-radius: 35px;
}

.logo {
    font-family: "Raleway", sans-serif;;
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);
    text-decoration: none;
}

.btn {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    border-radius: var(--button-radius);
    border: none;
}

.btn--primary {
    background-color: var(--color-primary);
    border-radius: var(--button-radius);
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
    color: white;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}
/*heder*/

.container {
    width: 1352px;
    margin: 0 auto;
}

.page-header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.page-navigation-list {
    display: flex;
}

.navigation_element {
    padding: 0 26px;
    font: bold;
    font-family: "Open Sans";
    text-decoration: none;
}

.nav__link {
    color: gray;
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;

}
.nav__link:hover {
    color: black;
    border-color: var(--color-primary);
}



/*first container*/

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first__content {
    margin-top: 130px;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.first__header {
    font-family: "Raleway", sans-serif;
    font-size: 3.0625rem;
}

.first__text {
    margin-top: 20px;
    margin-bottom: 38px;
}

.first__image {
    width: 100%;
    height: auto;
}
/*second container-sales info*/
.sales_info {
    margin-top: 100px;
}

.sales_info__header {
    text-align: center;
    font-family: "Raleway", sans-serif;

}

.sales_info__container {
    max-width: 800px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;

}

.sales_info__one {
    max-width: 160px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.sales_info__circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.sales_info__img {
    position: absolute;
}


.sales_info__one:nth-child(1) .statistics__circle {
    background-color: var(--color-redish);
}

.sales_info__one:nth-child(1) .statistics__img {
    top: 0;
    left: 45%;
}

.sales_info__one:nth-child(2) .statistics__circle {
    background-color: var(--color-primary);
}

.sales_info__one:nth-child(2) .statistics__img {
    top: 14px;
    left: 47%;
}

.sales_info__one:nth-child(3) .statistics__circle {
    background-color: var(--color-green);
}

.sales_info__one:nth-child(3) .statistics__img {
    top: 6px;
    left: 50%;
}

.sales_info__number {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1875rem;
    margin-top: 13px;
}

.sales_info__description {
    color: var(--color-grey);
    margin-top: 19px;
}



/*stopka*/

.footer {
    box-shadow: 0 -5px 40px #00000029;
    padding: 20px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__copyright {
    font-size: 0.6875rem;
    line-height: 1.5rem;
    color: gray;
    margin-top: 6px;
}

.footer__socialmedia a:first-of-type {
    margin-right: 25px;
}